<?xml version="1.0" encoding="utf-8"?>
<extension version="2.5" type="plugin" group="community">
<params addPath="/administrator/components/com_community/elements">
	<param name="signon" type="twitter" label="Allow access" />
	<param name="count" type="text" default="5" size="3" label="Updates count" description="How many updates to display" />
	<param name="updateTwitter" type="list" default="0" label="Update Twitter" description="Select yes if you want to update your twitter account on status change.">
		<option value="0" name="No" />
		<option value="1" name="Yes" />
	</param>
	<param name="showFriends" type="list" default="0" label="Show friends updates" description="Select yes if you want to show your friends updates as well ">
		<option value="0" name="No" />
		<option value="1" name="Yes" />
	</param>
</params>
</extension>